body {

    font-family: 'Open Sans', sans-serif;
}

header {

    font-weight: bold;
    font-size: 75px;
    margin: auto;
}

h1 {
    margin: 1%;
    text-align: center;

}

h3 {
    font-weight: bold;
    font-size: x-large;
    margin: 10px 0px 5px 10px;
}

form {
    margin-left: 55px;
}

#search-input {
    width: 240px;
    height: 30px;
    margin: 10px;

}

#add-topic {
    width: 150px;
    height: 35px;
    margin: 18px 0;
    font-size: 18px;
}

#buttons-view {
    padding: 10px;
    margin: 0px 0px 0px 45px;
}

button.button-topic {
    width: 150px;
    height: 30px;
    font-size: 18px;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
}

button.button-topic:active {
    background-color: rgba(108, 171, 223, 0.698);
}

.image {
    background-color: #f0f0f7a6;
    font-family: 'Open Sans', sans-serif;
    float: left;
    margin: 15px;
    padding: 2px 5px;
    border: 0.2px;
    border-style: solid;
    border-color: aliceblue;
    width: flex;
    height: flex;
}

p {
    margin: 1px;
}
.col-4{
    position: relative;
   
   
}